// Variables


$color-secondary-1:#707070 !default;
$color-white:#FFFFFF !default;
$red-primary: #d22919 !default;

// $body-m: 1170px;
$body-max-width: 1170px;
$control-width:100%;
$color-white:#ffffff!default;

$input-pink-colors: (
  border :    #fdccc9,
  background-color: #fff7f7,
  color: #212121
);

