<div class="content">

  <div class="row ">
    <div class="col-12">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
          <mat-form-field class="search-form">
            <input matInput placeholder="Search Picture" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button button="submit" mat-raised-button color="primary">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-4" *ngFor="let item of listaPokemon">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.title}}</mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]=src alt="Photo of a Shiba Inu">

        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>


  </div>
</div>